<div class="card" style="width: 18rem;">
    <div class="card-top d-flex px-3 pt-3">
        <img class="card-img" [src]="user.avatar_url" [alt]="user.avatar_url">
        <div class="text-muted px-2 align-self-end">
            @github
        </div>
        <div class="justify-content-right">
            <i class="fa fa-crosshairs"></i>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title font-weight-bold">{{user.login}}</h5>
        <p class="card-text text-muted">{{user.contributions}} commits</p>
    </div>
    <a href="#" class="btn btn-outline-primary mx-auto mb-3">VIEW REPOSITORIES</a>
</div>