<div class="card" style="width: 18rem;">
    <div class="card-top d-flex px-3 pt-3">
        <img src="{{user.imgSrc}}" class="card-img" alt="{{user.imgSrc}}">
        <div class="text-muted px-2 align-self-end">
            @github
        </div>
        <div class="justify-content-right">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title font-weight-bold">{{user.name}}</h5>
        <p class="card-text text-muted">{{user.commit}} commits</p>
    </div>
    <a href="#" class="btn btn-outline-primary mx-auto mb-3">VIEW REPOSITORIES</a>
</div>